<nav class="menu">
  <h2>NAV</h2>
  <p>{{ ctrl.myNav }}</p>
  <ul class="menu__items">
    <li class="menu__item">
      <a class="menu__link" href="#">About</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#">Contact Us</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="#">Stuff</a>
    </li>
  </ul>
</nav>
