.menu {
  background-color: lightblue;
}

.menu__items {
  height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


